@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>


<button class="btn btn-primary" @onclick="IncrementCount" disabled=@isDisable >Click me</button>

@code {
    int currentCount = 0;
    bool isDisable = false;
    void IncrementCount()
    {
        currentCount++;
        if(currentCount == 5){

            isDisable =true;
        }
    }
}
<div style="display:@(isDisable ? "none":"Block")">
    <h1>fsafsafsfas</h1>
</div>
