@page "/testPage"

<ul>
    @foreach (var word in Sentance.Split(' '))
            {
               
                    <li>@word</li>
                  
             
            }
</ul>

@code{
    String Sentance = ("Apple Mango wahaj Orange Tomato");


}